:root {
    --primary-color: #557174;
    --secundary-color: #f7f7e8;
    --tertiary-color: #9dad7f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

html {
    font-size: 62.5%;
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    height: 10vh;
}

header h1 {
    color: var(--secundary-color);
    padding: 4px;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-bottom: 10px;
    color: var(--secundary-color);
}

article {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: var(--tertiary-color);
    width: 245px;
    height: auto;
}

article h1 {
    color: var(--secundary-color);
    margin: 5px 0;  
}

.lista_elementos__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.lista_elementos__item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px 0;
    color: #c7cfb7;
    font-size: 1.5rem;
    text-decoration: none;    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7cfb7 ;
    color: var(--primary-color);
    height: 3vh;
}