* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

html {
    font-size: 62.5%;
}

main {
    background: tomato;
    padding: 5rem 0;
    text-align: center;
    
}

header {
    background: olive;
    
}

h1{
    color: white;    
    border: 2px solid white;
    font-size: 20px;
    text-align: center;
    margin-left: 37%;
    margin-right: 37%;
    padding: 1% 0;

}
.lista_elementos {
    margin-top: 20px;
    color: gray;
    font-size: 25px;   
}

.lista_elementos__item{
    color: white;
    text-align: left;
    margin-top: 15px;
    background-color: olive;
    border-radius: 2px;
    text-indent: 20%;
    padding: 1rem;
}

.lista_elementos__item__i section {
    margin: 0 auto;
    margin-top:1rem;       
    background-color: olive;
    font-size: 15px;
    width: 20rem;
    height: 20rem;
    padding: 1rem;
}

.lista_elementos__item__i a{
    text-decoration: none;
    color: white;
}

.lista_elementos__item__i a:hover{
    color: blue;
}

body footer {
    font-size: 2rem;
    text-align: center;
    color:white;
    background-color:olive;
    padding: 1rem;
}